<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <div>Team Name: <%= @team%></div>
  <div>Coach:<%= @coach%></div>
  <div>Point Guard:<%@pg%></div>


 </body>
</html>


